<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <title>Angel Montero</title>

</head>

<body>

  <img src="" alt="" class="bg">

    <h1>Hi, <br> I'm Angel.</h1>

    <nav>
        <lu>
            <li> <a href="/portfolio">My Portfolio</a></li>
            <li><a href="/blog">My Blog</a></li>
        </lu>
    </nav>


</body>

</html>
