<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angel Montero</title>
    <link rel="stylesheet" href="style.css"/>
</head>

<body>

    <h1>My Portfolio</h1>

    <nav>
        <lu>
            <li> <a href="/">Home</a></li>
            <li><a href="/blog">My Blog</a></li>
        </lu>
    </nav>

    <h2> Look, I made a thing! </h2>

    <lu>
        <li> <a href="https://github.com/alphanota" target="_blank">My github </a></li>
        <li><a href="https://www.linkedin.com/in/angel-montero-0485b052" target="_blank">My linked in profile</a></li>
    </lu>


</body>

</html>
